<form method="post" action="/students">
  <label for="first_name">First Name:</label>
  <input id="first_name" type="text" name="first_name"/>
  <br/>
  <br/>
  <label for="last_name">Last Name:</label>
  <input id="last_name" type="text" name="last_name"/>
  <br/>
  <br/>
  <label for="house-select">Select a house id:</label>
  <select id="house-select" name ="house_id">
  <% @houses.each do |house| %>
    <option value= "house.id">   <%= house.name %> </option>
  <% end %>
<!--     <option value="Gryffindor">Gryffindor</option>
    <option value="Slytherin">Slytherin</option>
    <option value="Hufflepuff">Hufflepuff</option>
    <option value="Ravenclaw">Ravenclaw</option> -->
  </select>
  <br/>
  <br/>
  <label for="Age">Age:</label>
  <input id="Age" type="number" name="age"/>
  <br/>
  <br/>
  <input type="submit" value="Add Student"/>
</form>